[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugins/start/Apprentice"]
	path = .vim/pack/plugins/start/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/plugins/start/gruvbox"]
	path = .vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/plugins/start/asyncrun.vim"]
	path = .vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
