[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/plugins/start/vim-hardtime"]
	path = .vim/pack/plugins/start/vim-hardtime
	url = git://github.com/takac/vim-hardtime.git
[submodule ".vim/pack/plugins/start/Apprentice"]
	path = .vim/pack/plugins/start/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
